.pokemon_container{
    text-align: center;
}
.title{
    font-size: 2.5em;
    text-transform: capitalize;
    background-color: #333;
    color:#fff;
    padding: 0.3em;
    margin:0.8em auto;
    width: 300px;

}
.pokemon_container h3{
    margin: 0.6em auto;
    font-size:1.2em;

}
.types_Container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.type{
    padding: 0.6em 1em;
    color: #fff;
    background-color: #000;
    margin-right:0.5em;
    border:1px solid #ccc;
    text-transform: uppercase;
    font-size: 0.8em;
}
.data_container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: o.5em;
}
.data_container div{
    margin: 1em 0 ;
    padding: 0 1em;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.data_height{
    border-right: 1px solid #CCC;
}



